/* reseteo los estilos del navegador */


*{
    margin: center;
    padding: center;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.header{
    background:black;
    color: aqua;
    width: 55vw;
    height: 80px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
}
.header h1{
    text-align: center;
}
.logo{
    text-transform: uppercase;
}
.logo a{
    color: rgb(26, 228, 66);
    text-decoration: none;
}
.navbar{
    background: rgb(31, 28, 28);
    color: antiquewhite;
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
}
.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: rgb(26, 228, 66);
}
.navbar ul li a:hover{
    background: white;
    color: black;
}

.banner-top{
    padding: 20px;
    display: flex;
    justify-content: center;
}

#contenedor{
    width: 90%;
    margin: auto;
    display: flex;
}

.body{
    background: rgb(15, 140, 111);
}


#contenedor img{
    width: 100%;
}

.primero{
    padding: 1%;
}

.segundo{
    padding: 1%;
}

.tercero{
    padding: 1%;
}

.footer{
    margin-top: 25px;
    background: rgb(15, 140, 111);
    display: flex;
    justify-content: space-around;
}
.footer ul{
    list-style: none;
}

.data{
    background: transparent;
    color: aliceblue;
    list-style: none;
}

.map{
    width: 60%;
}

@media screen and (min-width: 660px) and (max-width: 989px){

    .body{
        background: yellow;
    }
    .logo{width: 100%;
        text-align: center;
    }

    .banner-top{
        display: flex;
    }

    .primero{
        width: 100%;
    }

    .primero figure{
        height: 300px;
        overflow: hidden;
    }

    .segundo{
        width: 50%;
    }

    .tercero{
        width: 50%;
    }
}


@media screen and (min-width: 990px) and (max-width: 1900px){

    .body{
        background: rgb(215, 210, 210);
    }
}


